<nav>
    <a class="m-1" href="{{host}}/pages/dashboard/home">
        Home
    </a>
    <a class="m-1" href="{{host}}/pages/dashboard/database/pdo/view">
        PDO Database
    </a>
    <a class="m-1" href="{{host}}/pages/dashboard/database/phinx/view">
        Phinx
    </a>
    <a class="m-1" href="{{host}}/pages/dashboard/encryption/defuse/view">
        Defuse Encryption
    </a>
    <a class="m-1" href="{{host}}/pages/dashboard/encryption/sodium/view">
        Sodium Encryption
    </a>
    <a class="m-1" href="{{host}}/pages/login?action=logoff">
        Logoff
    </a>    
</nav>